[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f

[user]
  email = bloughnane@luciddg.com
  name = Brian Loughnane

[github]
  user = brianloughnane

[push]
  default = simple

[core]
  autocrlf = false
  safecrlf = true

[alias]
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p

